[package]
name = "rpc"
version.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true

[dependencies]
alloy = { workspace = true }
anyhow = { workspace = true }
tokio = { workspace = true }
